<!-- <section class="vh-100" style="background-color: #7e83af15">
  <div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">


                <button [disabled]="!loginForm.valid">Login</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i
                      class="fas fa-cubes fa-2x me-3"
                      style="color: #ff6219"
                    ></i>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17"
                      >Email address</label
                    >
                    <input
                      formControlName="uemail"
                      type="email"
                      id="form2Example17"
                      class="form-control form-control-lg"
                    />

                    <div
                      *ngIf="form['uemail'].touched && form['uemail'].invalid"
                      class="alert alert-danger"
                    >
                      <div *ngIf="form['uemail'].errors?.['required']">
                        Please provide Email
                      </div>
                      <div *ngIf="form['uemail'].errors?.['pattern']">
                        Please provide valid Email
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27"
                      >Password</label
                    >
                    <input
                      formControlName="upassword"
                      type="password"
                      id="form2Example27"
                      class="form-control form-control-lg"
                    />

                    <div
                      *ngIf="
                        form['upassword'].touched && form['upassword'].invalid
                      "
                      class="alert alert-danger"
                    >
                      <div *ngIf="form['upassword'].errors?.['required']">
                        Please provide Password
                      </div>
                      <div *ngIf="form['upassword'].errors?.['pattern']">
                        Please provide valid password
                      </div>
                    </div>
                  </div>

                  <div class="pt-1 mb-4 w-50 m-auto">
                    <button
                      class="btn text-light fw-bold btn-background btn-lg btn-block w-100 m-auto"
                      type="sumbit"
                    >
                      Login
                    </button>
                  </div>
                </form> -->

<div class="input">
  <h4 class="text-center p-3 m-3">Login your Account</h4>
  <form [formGroup]="loginForm" class="py-4" (ngSubmit)="onSubmit()">
    <input
      class="field"
      type="email"
      placeholder="User Email"
      formControlName="uemail"
      [(ngModel)]="email"
    />

    <span
      *ngIf="
        loginForm.get('uemail')?.invalid && loginForm.get('uemail')?.touched
      "
      style="color: rgb(202, 69, 69)"
      >you should enter valid email</span
    >

    <input
      class="field"
      type="password"
      placeholder="Password"
      formControlName="upassword"
      [(ngModel)]="password"
    />
    <span
      *ngIf="
        loginForm.get('upassword')?.invalid &&
        loginForm.get('upassword')?.touched
      "
      style="color: rgb(202, 69, 69)"
      >you should enter valid password</span
    >
    <br />
    <div class="check">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Remember Me
        </label>
      </div>
      <div>
        <a href="#">Forget password ?</a>
      </div>
    </div>
    <div class="pt-1 mb-4 mx-auto mt-3">
      <button
        style="width: 400px"
        class="btn text-light fw-bold btn-dark"
        type="sumbit"
      >
        Login
      </button>
    </div>
  </form>
</div>
