<section class="about-us container d-flex justify-content-between">
  <div class="about-caption col-md-7 p-5">
    <h5>About us</h5>
    <p>
      Minimalist styling is not about creating a cold, hard, empty white box of
      a home. It is about using simple and natural forms, and taking away layers
      without losing the aesthetic appeal of the space. The focus is on shape,
      colour and texture, with a furniture and accessories.
    </p>
    <span>See more <i class="arrow_carrot-2right"></i> </span>
  </div>
  <div class="about-video col-md-5">
    <img
      src="https://htmldemo.net/helendo/helendo/assets/images/banners/video-banner.webp"
      alt=""
    />
    <div class="video-icon">
      <a
        href="https://www.youtube.com/watch?v=fkoEj95puX0"
        class="popup-youtube"
        ><i class="linear-ic-play"></i
      ></a>
    </div>
  </div>
</section>
